<!Doctype html>
<html>
<head>
<title>Layout</title>
<link rel="stylesheet" type="text/css" href="Layout.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="body" class="body" style="background-color: white;">
<header class="header">
	<h1 class="H1">Welcome to my page!</h1>
</header>
<nav class="nav">
	<p class="P1">My name is Mario and I made this website!</p>
</nav>
<section class="section">
	<ul class="ul">
		<div class="home">
			<li class="list"><a href="#Home" class="link">Home</a></li>
		</div>
		<div class="page1">
			<li class="list"><a href="#Page1" class="link">Page 1</a></li>
		</div>
		<div class="page2">
			<li class="list"><a href="#Page2" class="link">Page 2</a></li>
		</div>	
		<div class="page3">
			<li class="list"><a href="#Page3" class="link">Page 3</a></li>
		</div>
		<div class="page4">
			<li class="list"><a href="#Page4" class="link">Page 4</a></li>
		</div>
		<div class="About">
			<li class="list"><a href="#About" class="link">About</a></li>
		</div>
	</ul>
</section>
<aside class="aside">
	<div class="backgroundcolor">
		<h4 class="H2">Choose background color!</h4>
		<button class="Red" onclick="document.getElementById('body').style.backgroundColor='Red'">Red</button>
		<br>
		<br>
		<button class="Blue" onclick="document.getElementById('body').style.backgroundColor='Blue'">Blue</button>
		<br>
		<br>
		<button class="Green" onclick="document.getElementById('body').style.backgroundColor='Green'">Green</button>
		<br>
		<br>
		<button class="Yellow" onclick="document.getElementById('body').style.backgroundColor='Yellow'">Yellow</button>
		<br>
		<br>
		<button class="Orange" onclick="document.getElementById('body').style.backgroundColor='Orange'">Orange</button>
		<br>
		<br>
		<button class="White" onclick="document.getElementById('body').style.backgroundColor='White'">White</button>
		<br>
		<br>
		<button class="Purple" onclick="document.getElementById('body').style.backgroundColor='Purple'">Purple</button>
		<br>
	</div>
</aside>
<article>
	<h3 class="H3">Lorem ipsum!</h3>
	<hr class="line">
	<h3 class="H4">Lorem ipsum!</h3>
	<p class="P2">Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! </p>
	<p class="P2">Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! </p>
	<p class="P2">Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! Lorem ipsum! </p>
</article>
<footer class="footer">
	<div class="addressdiv">
		<address>
			Written by <a class="link1" href="mailto:mario.n.jovanovich@gmail.com" title="Write me an email!">Mario Jovanovic</a>.<br> 
			Visit us at:<br>
			Example.com<br>
			1088 Example St. Ontario <br>
			Canada.
		</address>
	</div>
	<div class="instagram">
		<a href="#InstagramAccountLink">
			<img src="Instagram.png" alt="Instagram Icon" title="View Instagram account" width="50px" height="50px" class="instagramimg">
		</a>
	</div>
	<div class="facebook">
		<a href="#FacebookAccountLink">
			<img src="Facebook.png" alt="Facebook Icon" title="View Facebook account" width="50px" height="50px" class="facebookimg">
		</a>
	</div>
	<div class="twitter">
		<a href="#TwitterAccountLink">
			<img src="Twitter.png" alt="Twitter Icon" title="View Twitter account" width="50px" height="50px" class="twitterimg">
		</a>
	</div>
	<div class="copyright">
		<p class="P3">All rights reserved. &copy 2016-2020.</p>
	</div>
</footer>
<script src="JavaScript.js"></script>
</body>
</html>