.header {
	color: white;
	text-align: center;
}

body {
	background-color: #595959;
	
}
.licna {
	width: 49%;
	height: 50%;
	border: 2px solid black;
}
#prednja {
	float: left;
}
#zadnja {
	float: right;
}